<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="elipsicom.ico" type="image/x-icon">
    <title> Elipsicom</title>
    <link rel="stylesheet" href="signupNewCss.css">

       <!-- Bootstrap core CSS -->
       <link href="{% static 'bootstrap3/dist/css/bootstrap.min.css' %}" rel="stylesheet">

       <!-- Custom styles for this template -->
       <link href="{% static 'ticket/css/business-frontpage.css' %}" rel="stylesheet">
   
       <!-- Favorite Icon -->
       <link rel="shortbut icon" href="{% static 'ticket/img/fav-icon.png' %}" />
   
       <!-- Temporary navbar container fix -->
       
</head>
<body>


  <!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
        <div style="font-size: 30px; position: absolute; color: red;">Elipsicom</div>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <div class="form">
      <div id='topelement'>
        <br>
          <h1>Elipsicom Home Page</h1>
        <img src='elipsicom.ico' alt ='logo'> 
        <br><br>

      </div>

      <div class="left">  

        <div class="Current Groups">
          <div id="groups">   
            <h1>Current Groups</h1> <br>
            

  
          </div>
          <br><br>
          
          
        </div><!-- tab-content -->
      </div>
      <div class="right"> 
         <div class = "message"> <!--me attampting to make the message textbox-->
            <div id "sendMessage">
                <h3>Send A Message</h3>
                <form action ="/" method = "post">
                <input type ="text" required autocomplete = "off"/>
                <button type="submit" class="button button-block">Send!</button>
                </form>

            </div><br>
            <h3>Create A Group</h3>
            <div class="popup" onclick="myFunction()">Eventually this will create a popup to make a group 
                <span class="popuptext" id="myPopup">Popup text...</span>
              </div>

         </div>

      </div>
      <div class="middle"> 
        <div class = "GroupMe"> <!--me attampting to display the messages-->
           <div id "sendMessage">
            <h1>Display Messages</h1>
              

            </div>

            </div>
        </div>





      
        
  </div> <!-- /form -->
</body>

</html>