<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="elipsicom.ico" type="image/x-icon">
    <title> Elipsicom - Login</title>
    <link rel="stylesheet" href="signupNewCss.css">
</head>
<body>
    <div class="form">
      <div id='topelement'>
        <br>
          <h1>Elipsicom Home Page</h1>
        <img src='elipsicom.ico' alt ='logo'> 
        <br><br>

      </div>

      <div class="left">  

        <div class="Current Groups">
          <div id="groups">   
            <h1>Current Groups</h1> <br>
            

  
          </div>
          <br><br>
          
          
        </div><!-- tab-content -->
      </div>
      <div class="right"> 
         <div class = "message"> <!--me attampting to make the message textbox-->
            <div id "sendMessage">
                <h3>Send A Message</h3>
                <form action ="/" method = "post">
                <input type ="text" required autocomplete = "off"/>
                <button type="submit" class="button button-block">Send!</button>
                </form>

            </div><br>
            <h3>Create A Group</h3>
            <div class="popup" onclick="myFunction()">Eventually this will create a popup to make a group 
                <span class="popuptext" id="myPopup">Popup text...</span>
              </div>

         </div>

      </div>
      <div class="middle"> 
        <div class = "GroupMe"> <!--me attampting to display the messages-->
           <div id "sendMessage">
            <h1>Display Messages</h1>
              

            </div>

            </div>
        </div>





      
        
  </div> <!-- /form -->
</body>

</html>