#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: red;
    font-family: "Times New Roman", serif;

}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: red;
}

#header {
    width: auto;
    height: 40px;
    padding: 10px 40px;
    background: black;
    line-height: 40px;
    color: red;
    overflow: hidden;
}

div.breadcrumbs {
    background: #545454;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #ffc2c2;
    text-align: left;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #c11;
    color: #fff;
}


/*Login Page*/
.login-page {
    background-image: url("../img/login-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: initial;
}

.login-box-body {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.login-logo {
    margin-bottom: 0;
    background: dodgerblue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*Base Header and Side Bar*/

/* Make dropdown profile a little larger*/
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 190px;
    background-color: #222d32;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #b2433a;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #000000;
}
/* Make headers in sidebar easier to read*/
.skin-black .sidebar-menu>li.header {
    color: #D64349
}
/*.skin-black .sidebar a {*/
    /*color: #ce8a96;*/
/*}*/

/* Pages */
.content-header{
    padding-bottom: 15px;
}

/* Video Player */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Tool Guides */
.products-list .product-img img {
    width: 100px;
    height: 35px;
    padding-right: 10px;
}

/* Event Objectives */
.box-accordion {
    padding: 2px;
}

/* Participants List */
.users-list>li img {
    width: 60px;
    height: 60px;
}

/* Countdown Timer*/
ul.countdown {
    list-style: none;
    margin: 0 0;
    padding: 0;
    display: block;
    text-align: center;
}
ul.countdown li {
    display: inline-block;
}
ul.countdown li span {
    font-size: 40px;
    font-weight: 300;
    color: lavender;
    line-height: 30px;
}
ul.countdown li.seperator {
    font-size: 30px;
    line-height: 30px;
    vertical-align: top;
}
ul.countdown li p {
    color: #a7abb1;
    font-size: 14px;
}

.non-overlapping-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 10px;
}

/*Changes cursor to a pointer to portray click-ability for box footers*/
.small-box-footer {
    cursor: pointer;
}
