* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{

    background-color:#55cf45;
}


#topelement{

    background-color:#202833;
    text-align: center;  
    height: 133px;
}
#topelement h1{
    color:#f32a2a; 
    font-family: "Lucida Calligraphy";
}



.mainChatBox {
    width: 800px;
    min-width: 600px;
    height: 750px;
    border-radius: 20px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
    float: right;
    margin-right: 20px;
    
}

.chatExchange {
    padding: 10px;
    width: 100%;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;  
}

.chatExchange::-webkit-scrollbar {
    width: 10px;

}

.chatExchange::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: #ccc;
    
}


.chatExchange{ 
    -ms-overflow-style: -ms-autohiding-scrollbar;
 }
 

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;

}

.chat .userPic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.chat .userPic img {
    width: 100%;
    height: 100%;
}

.chat .chatText {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    background: #6fbbee;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
   
}

.firstUser .chatText {
    background: #55cf45;
}

.secondUser .chatText {
    background: #6aacf8;
    order: -1;
}

.chatForm{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chatForm textarea {
    background: #fbfbfb;
    width: 90%;
    height: 50px;
    border: 2px solid #6aacf8;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
    margin-top: 50px;
    margin-left: -200px;
    
}

.chatForm textarea:focus{
    background: #fff;    
}

.chatForm textarea::-webkit-scrollbar {
    width: 0;
}

.chatForm textarea{ 
    -ms-overflow-style: none; 
}

.chatForm textarea{ 
        overflow: hidden;
     }

     .chatForm button{
        background: #1ddced;
        padding: 5px 15px;
        font-size: 30px;
        color: #fff;
        border: none;
        margin: 0 10px;
        border-radius: 3px;
        box-shadow: 0 3px #049eac;
        cursor: pointer;
        margin-top: 50px;
        margin-right: 20px;
    }
    
    .chatForm button:hover{
        background: #13c8d9;
    }
    
    input{
        text-emphasis: none;
    }