* {
    margin: 0px;
    padding: 0px;
}

body{

    background-color:#55cf45;
    text-align: left;

}

#topelement{

    background-color:#202833;
    text-align: center;  
}
#topelement h1{
    color:#f32a2a; 
    font-family: "Lucida Calligraphy";

}

label
{
display:inline-block;
width:80px;
white-space: nowrap;
margin-right:30px;
text-align:left;
}

.left {
    width: 15%;
    float: left;
    background-color:#55cf45;
    text-align: left;
    padding: 80px;
    color: #1b00b1;
}
.middle{

    margin-left:500px;
    background-color:#55cf45;
    text-align: center;
    padding: 80px;
    color: #1b00b1;
    width: 50%;
    
  	border: 3px solid green;

}
.right {
	float: right;
    margin-left: 500px;
    background-color:#55cf45;
    text-align: left;
    color: #530b61;
    padding: 10px;
    width: 10%;

}
button {
    background-color:#fffc3e; 
    border: none;
    color:#2600ff;
    padding: 7px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    font-size: 12px;
  }